.custom-button {
    background-color: #E32636;
    color: #fff;
    padding: 10px 20px;
}

.custom-input {
    color: #fff;
    padding: 10px 20px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-image {
    animation: fadeIn 3s;
}

.typing-text {
    opacity: 0;
    overflow: hidden;
    animation: typing 1s forwards;
}

@keyframes typing {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
