.custom-button {
    background-color: #E32636;
    color: #fff;
    padding: 10px 20px;
}

.custom-input {
    color: #fff;
    padding: 10px 20px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-image {
    animation: fadeIn 1s;
}